name: Run Tests
on: [push, pull_request]

env:
  RUST_BACKTRACE: 1
  TZ: Europe/Berlin

jobs:
  unit-and-module-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies for Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y curl build-essential cmake pkg-config cargo libgtk-3-dev

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - uses: clechasseur/rs-cargo@v1
        if: ${{ github.ref_name != 'main' }}
        with:
          command: test

      - uses: clechasseur/rs-cargo@v1
        if: ${{ github.ref_name == 'main' }}
        with:
          command: test
          args: --release

      - uses: clechasseur/rs-cargo@v1
        with:
          command: clippy
  
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies for Linux
        run: |
          sudo apt-get update
          sudo apt-get install -y curl build-essential cmake pkg-config cargo libgtk-3-dev

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Run integration tests
        run: ./integration_tests/test.sh
